{% extends 'restaurant/home.html' %}
{% load bootstrap3 %}

{% block page %}
  <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">Customers</h4>
        </div>
        <div class="panel-body">
            <br/>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                  <tr class="bg-gray text-white">
                    <th>Id</th>
                    <th>Avatar</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Num of Orders</th>
                  </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td scope="row">{{ customer.id }}</td>
                            <td>{{ customer.avatar }}</td>
                            <td> placebo name </td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.address }}</td>
                            <td> placebo orders num </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}